@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&family=Poppins:wght@100&display=swap');

html{
  font-size: 62.5%;
}

.Root {
  width: 144rem;
  margin: 0;
  padding: 0;
  --header-color: #BBCDB5;
  --verde-escuro: #586553;
  font-family: 'Montserrat', sans-serif;
}

.Container{
  width: 144rem;
  height:129.5rem; 
  display:flex;
  text-align:center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #484747;
  font-family: montserrat;
  justify-content: space-between auto;
  margin: 0;
}

.Cad{
width: 58.9rem;
height: 47.1rem;
background-color: #d9d9d9;
border-radius: 8px;
padding-top: 4rem;
padding-bottom: 2rem;
}

.Usuario{
background: #fff;
color: #000;
font-size: 2rem;
font-weight: 400;
border: transparent;
margin-top: 30px;
width: 46rem;
height: 4rem;
border-radius: 10px;
margin: 0.8rem;
box-shadow:0px -4px 4px #696767;

}

.Senha{
background: #fff;
color: #000;
font-size: 2rem;
font-weight: 400;
border: transparent;
margin-top: 0.8rem;
width: 46rem;
height: 4rem;
border-radius: 10px;
box-shadow:0px -4px 4px #696767;

}

.Button{
  width: 23rem;
  height: 3.3rem;
  border-radius: 5px;
  background-color: #AC5050;
  border: none;
  box-shadow:0px 4px 4px #696767;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight:lighter;
  font-size: 1.4rem;
  margin: 0px 8px 14px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Button:hover{
  width: 23rem;
  height: 3.3rem;
  border-radius: 5px;
  background-color: var(--verde-escuro);
  border: none;
  box-shadow:0px 4px 4px #696767;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight:lighter;
  font-size: 1.4rem;
  margin: 0px 8px 14px 8px;
  cursor:pointer;
}